/* your code */
body{
	font-family: Arial,sans-serif;
	background-color: #f2f2f2;
	padding: 40px;
	text-align: center;
}
.stats-table {
	margin: 0;
	border-collapse: collapse;
	width: 80%;
	box-shadow: 0 20px 6px rgba(0,0,0,0.2);
	background-color: #fff;
}
.stats-table thead{
	background-color: #003366;
	color:#fff;
}
.stats-table th,
.stats-table td {
	padding:12px 15px;
	border: 1px solid #ddd;
}

.stats-table tbody tr : nth-child(even){
	background-color: #f9f9f9;
}
.stats-table tbody tr:hover{
	background-color: #e6f2f2ff;
	transition:0.3s;
}